<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fooDonation App</title>
</head>
<body>
    <h1>Let,s Donate Food For Happiness</h1>
    <a href="/home/" style="margin-right: 10px;">Home</a>
    <a href="/donate/" style="margin-right: 10px;">Donate</a>
    <a href="/Receive/" style="margin-right: 10px;">Receive</a>
    <a href="/meals/" style="margin-right: 10px;">Meals</a>
    <a href="/About/" style="margin-right: 10px;">About</a>
    <a href="/search" style="margin-right: 10px;">Search</a>
    <a href="/history" style="margin-right: 10px;">History</a>
   
    {% block content %}{% endblock %}
</body>
</html>