{% extends 'fooDonationApp\base.html' %}

{% block content %}
<div style="margin-top: 20px;">
<label for="Meals" style="font-weight: bold; font-size: 40px;"> Category </label>
<select name="Category" id="Meals" form="category" style="font-weight:500; font-size: 15px; border:solid 2px black; padding:4px; margin-bottom: 4px">
  <option value="raw">Raw Food</option>
  <option value="cooked">Cooked Food</option>
  <option value="packed">Packed Food</option>
  
</select>
<form action="." method="post" id="category">
   
    
    <input type="text" id="fname" name="fname" placeholder="Username" style="font-size: 20px; margin-top:30px ; margin-bottom:10px" >
    <br/>
    <input type="phone" id="fname" name="fname" placeholder="Phone Number" style="font-size: 20px; margin-bottom:10px" >
    <br/>
    <button type="submit" style="font-size: 20px;" >Donate</button>
  </form>


</div>
{% endblock %}