{% extends 'fooDonationApp\base.html' %}


{% block content %}

{% for x in list %}
    
    <h1><a href="/{{x.1}}">{{x.0}}</a></h1>
    {% for y in object %}
    {% if y.category == x.0 %}
    {{y.get_absolute_url}}
    <h3><a href="{{y.get_absolute_url}}">{{y.foodItem}}</a></h3>
    <!-- <h3><a href="/meals/{{y.slug}}">{{y.foodItem}}</a></h3>  -->
    {% endif %} 
     
    {%endfor%} 
{%endfor%}
{% endblock %}




<!-- <h1>Raw Food</h1>
{% for x in object %}
{% if x.category == "Raw Food"%}
<h1><a href="/meals/{{x.id}}">{{x.foodItem}}</a></h1>
{% endif %}
{%endfor%}

<h1>Packed Food</h1>
{% for x in object %}
{% if x.category == "Packed Food"%}
<h1><a href="/meals/{{x.id}}">{{x.foodItem}}</a></h1>
{% endif %}
{%endfor%}

<h1>Cooked Food</h1>
{% for x in object %}
{% if x.category == "Cooked Food"%}
<h1><a href="/meals/{{x.id}}">{{x.foodItem}}</a></h1>
{% endif %}
{%endfor%} -->

<!-- {% for x in object%}
<h1><a href="/meals/{{x.id}}">{{x.foodItem}}</a></h1>
    
{%endfor%}
     -->